// Подключение шрифтов
@font-face {
  font-family: "Ramillas";
  src: url("./Ramillas/300RamillasLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ramillas";
  src: url("./Ramillas/400RamillasRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ramillas";
  src: url("./Ramillas/500RamillasMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ramillas";
  src: url("./Ramillas/700RamillasBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fors";
  src: url("./Fors/300ForsLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fors";
  src: url("./Fors/500FrosMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// =======> FONTS COLOR <=========
.color_white {
  color: #ffffff;
}

.color_orange {
  color: #d27604;
}

.color_black {
  color: #262626;
}
// =======> FONTS SIZE <=========

.title_48 {
  font-size: 48px;
}

.bold_31 {
  font-size: 31px;
}

.bold_24 {
  font-size: 24px;
}

.bold_20 {
  font-size: 20px;
}

.light_18 {
  font-size: 18px;
}

.light_16 {
  font-size: 16px;
}

.light_13 {
  font-size: 13px;
}

// =======> FONTS FAMILY<=========
.Ramillas_300 {
  font-family: "Ramillas";
  font-weight: 300;
  font-style: normal;
}

.Ramillas_400 {
  font-family: "Ramillas";
  font-weight: 400;
  font-style: normal;
}

.Ramillas_500 {
  font-family: "Ramillas";
  font-weight: 500;
  font-style: normal;
}

.Ramillas_700 {
  font-family: "Ramillas";
  font-weight: 700;
  font-style: normal;
}


.Fors_300 {
  font-family: "Fors";
  font-weight: 300;
  font-style: normal;
}

.Fors_500 {
  font-family: "Fors";
  font-weight: 500;
  font-style: normal;
}
