@font-face {
  font-family: "Fors";
  src: url("/fonts/Fors/ForsLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ramillas";
  src: url("/fonts/Ramillas/RamillasBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ramillas";
  src: url("/fonts/Ramillas/RamillasMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.font-for-title {
  font-family: "Ramillas", sans-serif;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.title {
  margin: 7% 0;
  font-size: 39px;
  font-weight: 500;
  text-transform: uppercase;
}

.font-for-link {
  font-family: "Fors", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  transition: 0.3s;
}

.font-for-link:hover {
  color: #262626;
}

.font-for-text {
  font-family: "Fors", sans-serif;
  font-weight: 300;
}

.font-for-button {
  font-family: "Fors", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  transition: 0.3s;
}

.font-color-black {
  color: #262626;
}

.font-color-orange {
  color: #d57500;
}

.font-color-white {
  color: white;
}
