.header_wrap {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.header {
  max-width: 1050px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: blueviolet;
  margin: auto;

  .header_block_link {
    width: 610px;
    height: 22px;
    display: flex;
    gap: 40px;

    .text_link {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-align: center;
      color: #ffffff;
    }
  }

  .logo_link {
  }

  .btn_link {
    width: 218px;
    height: 41px;
    border-radius: 20px;
    border: #b06101 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}
