.video_wrap {
  width: 100vw;
  height: 80vh;
  z-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .video_wallpaper {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
}

.section_preview {
  height: 80vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;

  .text_victoria {
    font-weight: 400;
    color: #d27604;
  }
  .text_White {
    font-weight: 400;
    color: #ffffff;
  }
}
// =============
.but_orange {
  border-radius: 20px;
  padding: 10px;
  width: 220px;
  height: 40px;
  background: #b06101;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
