.section_popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    background: #00000030;
    display: none;
    align-items: center;
    justify-content: center;
}

.card_popup {
    display: flex;
    flex-direction: column;
    width: 760px;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    position: relative;
    
    .btn_wrap {
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        max-width: 760px;
        width: 100%;
       
        .btn {
            cursor: pointer;
            width: 100px;
            height: 450px;
            
            transition: 400ms;

            &:hover {
                background-color: #00000030;
            }
        }
    }

    .carousel_wrap{
        position: relative;
        max-width: 760px;
        height: 450px;
        overflow: hidden;

        .carousel_linear {
            position: relative;
            display: flex;
            transition: 600ms;
            & > * {
                width: 760px;
                height: 450px;
                background-size: cover;
            }
        }
    }

    .btn_close {
        position: absolute;
        margin: 30px 30px;
        right: 0;
        width: 30px;
        height: 30px;
        transition: 400ms;

        z-index: 11;
        &:hover {
            transform: rotate(90deg) scale(120%);
        }
    }
}

.bloc_text {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}




