.footer {
    max-width: 1050px;
    margin-bottom: 0;

    .footer_top {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .footer_nav {
        margin: 5% 0;
    }

    .footer_nav_title {
        margin-bottom: 20px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .footer_nav_menu {
        padding: 5px 0;
    }

    .footer_link {
        transition: 400ms;
        
        &:hover {
          color: #262626;
        }
    }

    .footer_social_block {
        display: flex;
        flex-direction: column;
    }

    .social_link {
        margin: 0px 0px 30px 60px;
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .logo_in_footer{
        width: 80px;
        height: 75px;
    }

}

@media screen and (max-width:800px) {
    /* Временый адаптив */

    .footer {
        margin-bottom: 0;

        .footer_top {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
        }

        .footer_social_block {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .footer_nav {
            margin: 3% 0;
        }

        .footer_nav_title {
            margin-bottom: 10px;
        }

        .social_link {
            margin: 0;
        }
    
    }
    
    .footer_bottom {
        display: flex;
        flex-direction: column;

        padding: 15px 0;
        row-gap: 10px;

        .logo_in_footer{
            display: none;
        }

    }

  }