.footer_top {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(89, 89, 89, 0.2);
}

.footer_nav {
    margin: 5% 0;
}

.footer_nav_title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* >>> Проблема с текстом */
.no_title {
    color: rgba(0, 0, 0, .0);
}

.footer_nav_menu {
    padding-bottom: 10px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(89, 89, 89, 0.2);
}

/* >>> Вписать лого в блок */
.logo_in_footer{
    width: 80px;
    height: 80px;
    /* background-image: url(../img/logo_in_footer.svg); */
}